<div class="main">

  <div id="myBtnContainer">
    <button class="btn" [ngClass]="btn === 'all' ? 'active' : ''" (click)="filterSelection('all')"> Show all</button>
    <button class="btn" [ngClass]="btn === 'mountain' ? 'active' : ''" (click)="filterSelection('mountain')"> Mountain</button>
    <button class="btn" [ngClass]="btn === 'road' ? 'active' : ''" (click)="filterSelection('road')"> Road</button>
    <button class="btn" [ngClass]="btn === 'fashion' ? 'active' : ''" (click)="filterSelection('fashion')"> Fashion</button>
    <button class="btn" [ngClass]="btn === 'beach' ? 'active' : ''" (click)="filterSelection('beach')"> Beach</button>
    <button class="btn" [ngClass]="btn === 'food' ? 'active' : ''" (click)="filterSelection('food')"> Food</button>
    <button class="btn" [ngClass]="btn === 'sunset' ? 'active' : ''" (click)="filterSelection('sunset')"> Sunset</button>
    <button class="btn" [ngClass]="btn === 'music' ? 'active' : ''" (click)="filterSelection('music')"> Music</button>
    <button class="btn" [ngClass]="btn === 'work' ? 'active' : ''" (click)="filterSelection('work')"> Work</button>
  </div>

  <!-- Portfolio Gallery Grid -->
  <div class="scroll-container">
    <div class="row no-padding full-width">
      <div class="column col-md-4 no-padding show" *ngFor="let img of ImageList">
        <div class="content">
          <img [src]="img.urls.thumb" alt="Mountains" style="width:100%; height: 100%">
        </div>
      </div>
      <!-- END GRID -->
    </div>
  </div>
  <!-- END MAIN -->
</div>
